.fade-page {
  &-leave-active,
  &-enter-active { transition: 1s; }

  &-enter,
  &-leave-to { opacity: 0 }

  &-leave,
  &-enter-to { opacity: 1 }

  &-enter-active,
  &-leave-active {
    position: absolute;
    width: 100%;
    transition: opacity 200ms ease-in-out;
  }

  &-enter-active { transition-delay: 100ms }
}

.fade {
  &-leave-active,
  &-enter-active { transition: 1s; }

  &-enter,
  &-leave-to { opacity: 0 }

  &-leave,
  &-enter-to { opacity: 1 }

  &-enter-active,
  &-leave-active { transition: opacity 200ms ease-in-out; }

  &-enter-active { transition-delay: 100ms }
}

.slide-up {
  &-leave-active,
  &-enter-active { transition: margin-bottom .2s ease-out; }

  &-enter,
  &-leave-to { margin-bottom: -140px; }

  &-leave,
  &-enter-to { margin-bottom: 0px; }
}

.modal-down {
  &-leave-active,
  &-enter-active { transition: all .2s ease; }

  &-enter,
  &-leave-to { top: -100%; }

  &-enter-to,
  &-leave { top: 0px; }
}