@media (max-width: 991px) {
  .product-page .product-details {
    .intro {
      margin: 0 50px;
    }

    .description {
      padding: 0 50px;
    }
  }

  .home-page section {
    height: auto;
  }
}

@media (max-width: 768px) {
  .main-menu {
    display: none;
  }

  .main-menu-mobile {
    display: block;
  }

  .top-menu {
    display: none;
  }

  .page {
    padding-top: 64px;
    padding-left: 0;
  }

  .footer {
    margin-top: 20px;
  }

  .content-page .container ul.brand-list li {
    width: 23%;
  }

  .home-page {
    section {
      height: auto;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    section.info {
      text-align: left !important;

      p {
        padding: 0px;
      }

      .img-container {
        margin: 0 40px;
        padding-bottom: 0;
      }
    }

    section.news .content .news-item,
    section.news .content .news-item:last-child {
      margin: 0 auto;
    }

    #gallery-news-mobile {
      width: 100%;

      .thumbnail {
        margin-bottom: 10px;
      }
    }
  }

  .product-page {
    .products-header {
      padding: 0 !important;

      .container {
        padding: 0; 
      }
    }

    .product-details {
      .intro {
        margin: 0 50px;
      }

      .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
      }

      .description {
        // padding: 0 50px;
        padding: 15px;
        flex-direction: column;
      }

      .overlay {
        .gallery {
          height: auto;
        }

        .btn-close,
        .arrow {
          display: none;
        }
      }
    }
  }

  .news-page .container .news-item {
    flex-direction: column;

    .thumbnail {
      margin-bottom: 10px;
    }
  }
}