.home-page {
  position: relative;
  width: 100%;
  
  section {
    height: 100vh;
  }

  section.fixed {
    height: auto;
    padding: 100px 0;
  }
  
  @import "home/header";
  @import "home/products";
  @import "home/info";
  @import "home/news";
}

.home-page::-webkit-scrollbar {
  display: none;
}