section.info {
  .row {
    align-items: center;
  }

  .img-container {
    height: 170px;
    display: flex;
    align-items: center;
    margin: 0 auto;

    img {
      width: 140px;
    }
  }
  h1 {
    font-size: 1.25em;
    font-weight: bold;
  }

  p {
    padding: 0 20px;
  }
}